<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email Template 2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
<!-- FIRST ROW - TOP ---------------------->
    <tr>
     <td bgcolor="#363636" align="center" style="padding: 20px 0 30px 0;">
        <img src="http://res.cloudinary.com/dlbqjjm4j/image/upload/v1454261909/system/icons/spotery_logo_h.png" alt="Spotery Logo"
                                                                                                 width="320"
                                                                                                 height="180"
                                                                                                 style="display: block;" />
      </td>
    </tr>
<!--  SECOND ROW - MAIN CONTENT ---------------------->
    <tr>
      <td bgcolor="white" style="padding: 40px 30px 40px 30px;">
        <table border="0" cellpadding="0" cellpadding="0" width="100%">
          <tr>
            <td style="color: #929292; font-family: Helvetica, sans-serif; font-size: 16px;">
              Hi Customer,
            </td>
          </tr>

          <tr>
            <td style="padding: 20px 0 20px 0; color: #929292; font-family: Helvetica, sans-serif; font-size: 16px;">
              A New Request has been submitted for your spot SPOT NAME. You can view details of this request
              <a href="http://spotery.com/f/index" style="color: #4fbea2; font-family: Helvetica, sans-serif; font-size: 16px;">HERE</a>.
            </td>
          </tr>

          <tr>
            <td style="color: #929292; font-family: Helvetica, sans-serif; font-size: 16px;">
              Reservation #:  <b> 000000 </b>
            </td>
          </tr>

          <tr>
            <td style="color: #929292; font-family: Helvetica, sans-serif; font-size: 16px;">
              Spot Name: <b> SPOT NAME HERE </b>
            </td>
          </tr>

          <tr>
            <td style="color: #929292; font-family: Helvetica, sans-serif; font-size: 16px;">
              Date: <b> 00/00/0000 </b>
            </td>
          </tr>

          <tr>
            <td style="color: #929292; font-family: Helvetica, sans-serif; font-size: 16px;">
              Submitted By: <b> REQUESTER NAME HERE </b>
            </td>
          </tr>

          </tr>
        </table>
      </td>
    </tr>
<!-- THIRD ROW - CONTENT ---------------------->
    <tr>
      <td bgcolor="white" style="padding: 10px 30px 40px 30px;">
        <table style="border: 0px solid #cccccc;" cellpadding="0" cellpadding="0" width="100%">
          <td align="center">
            <h2 style="letter-spacing: 0.125em;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-family: helvetica;
                        font-weight: 600;
                        color: #4fbea2;
                        text-decoration: none;
                        display: inline-block;"> Check our Spots! </h2>
          </td>
          <tr height="15">
            <td style="font-size: 0; line-height: 0;" width="0">
             &nbsp;
            </td>
          </tr>
          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                </tr>
               <tr>
                <td width="260" valign="top">
                  <img src="/Users/yiselrosario/Desktop/Email_Template_01/Assets/Computos1.jpg" alt="Centro de Cómputos"
                                                                                                width="100%"
                                                                                                height="160"
                                                                                                style="display: block;" />
                </td>
           <!-- SPACE  -->
                <td style="font-size: 0; line-height: 0;" width="20">
                 &nbsp;
                </td>
           <!-- SPACE  -->
                <td width="260" valign="top">
                  <img src="/Users/yiselrosario/Desktop/Email_Template_01/Assets/El Mirador1.jpg" alt="El Mirador"
                                                                                                  width="100%"
                                                                                                  height="160"
                                                                                                  style="display: block;" />
                </td>
               </tr>
              </table>
            </td>
          </tr>

          <tr height="20">
            <td style="font-size: 0; line-height: 0;" width="0">
             &nbsp;
            </td>
          </tr>

          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
               <tr>
                <td width="260" valign="top">
                  <img src="/Users/yiselrosario/Desktop/Email_Template_01/Assets/Remanso1.jpg" alt="Remanso"
                                                                                               width="100%"
                                                                                               height="160"
                                                                                               style="display: block;" />
                </td>
        <!-- SPACE  -->
                <td style="font-size: 0; line-height: 0;" width="20">
                 &nbsp;
                </td>
         <!-- SPACE  -->
                <td width="260" valign="top">
                  <img src="/Users/yiselrosario/Desktop/Email_Template_01/Assets/Teatro1.jpg" alt="Teatro Caguas"
                                                                                              width="100%"
                                                                                              height="160"
                                                                                              style="display: block;" />
                </td>
               </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td>
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr height="40">
                  <td style="font-size: 0; line-height: 0;" width="0">
                   &nbsp;
                  </td>
                </tr>

                </tr>
                <tr>
                  <td align="center">
                      <a href="http://spotery.com/f/index" style="background-color: #bed748;
                                                                  padding:14px 28px 14px 28px;
                                                                  border-radius:2px;
                                                                  line-height:18px!important;
                                                                  letter-spacing:0.125em;
                                                                  text-transform:uppercase;
                                                                  font-size:16px;
                                                                  font-family:helvetica;
                                                                  font-weight:600;
                                                                  color:#ffffff;
                                                                  text-decoration:none;
                                                                  display:inline-block;
                                                                  line-height:18px!important"
                                                                  target="_blank"> See More </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
<!-- FOURTH ROW - FOOTER ---------------------->
    <tr>
      <td bgcolor="#ebebeb" style="padding: 30px 30px 30px 30px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
       <tr>
         <td width="60%" style="color: #929292; font-family: Helvetica, sans-serif; font-size: 14px;">
          &reg; Spotery2016<br/>
          <a href="#" style="color: #929292;"><font color="#929292">Unsubscribe</font></a> to this newsletter instantly.
         </td>

        <td align="right">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <a href="">
                  <img src="/Users/yiselrosario/Desktop/Email_Template_01/Assets/Social_Icons/facebook.png" alt="Facebook"
                                                                                                            width="38"
                                                                                                            height="38"
                                                                                                            style="display: block;"
                                                                                                            border="0" />
                </a>
              </td>
              <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
              <td>
                <a href="">
                  <img src="/Users/yiselrosario/Desktop/Email_Template_01/Assets/Social_Icons/twitter.png" alt="Facebook"
                                                                                                            width="38"
                                                                                                            height="38"
                                                                                                            style="display: block;"
                                                                                                            border="0" />
                </a>
              </td>
              <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
              <td>
                <a href="">
                  <img src="/Users/yiselrosario/Desktop/Email_Template_01/Assets/Social_Icons/Instagram.png" alt="Facebook"
                                                                                                            width="38"
                                                                                                            height="38"
                                                                                                            style="display: block;"
                                                                                                            border="0" />
                </a>
              </td>
              <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
              <td>
                <a href="">
                  <img src="/Users/yiselrosario/Desktop/Email_Template_01/Assets/Social_Icons/linkedin.png" alt="Facebook"
                                                                                                            width="38"
                                                                                                            height="38"
                                                                                                            style="display: block;"
                                                                                                            border="0" />
                </a>
              </td>

            </tr>
          </table>

        </td>
       </tr>
      </table>
      </td>
    </tr>
  </table>


</body>
</html>

<!--  <td align="center" style="font-family:'Open Sans',Helvetica,Arial,sans-serif!important;font-size:16px!important;line-height:30px!important;font-weight:400!important;color:#7e8890!important">ZapLabs Designer Jessie Chen recaps a recent Designers + Geeks presentation.</td> -->
